# Configurações Docker
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root

# Essas variáveis serão usadas automaticamente pelo docker-compose
# Você pode criar um arquivo .env na raiz do projeto com essas variáveis
